.dropdown{
    border: 1px solid #616061;
    width: 267px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 8px 12px;
}

.dropdown-name{
    padding: 8px;    
}

.inputComponent{
    width: 808px;
    height: 40px;
    Padding: 8px 12px;
    border: 1px solid #616061;
    border-radius: 4px;
    gap: 16px;
  }